<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <h1>welcome to <i class="fa-solid fa-book"></i><strong>Bookers</strong>!!</h1>

            <p>In <i class="fa-solid fa-book"></i><strong>Bookers</strong>,</p>

            <p>you can share and exchanged your opinions, and emotions</p>

            <p>about various books!</p>

            <div class="mx-auto">
                <div class="ml-3"><a class="btn btn-info btn-block" href="/users/sign_in">Log in</a></div>
            </div>
        <br>
            <div class="mx-auto">
                <div class="ml-3"><a class="btn btn-success btn-block" href="/users/sign_up">Sign up</a></div>
            </div>
        </div>
    </div>
</div>