<h1>welcome to <strong>Bookers</strong>!!</h1>

<p>In <strong>Bookers</strong>,</p>

<p>you can share and exchanged your opinions, and emotions</p>

<p>about various books!</p>

<div class="row">
    <div class="ml-3"><a class="btn btn-info" href="/users/sign_in">Log in</a></div>
</div>

<div class="row">
    <div class="ml-3"><a class="btn btn-success" href="/users/sign_up">Sign up</a></div>
</div>